# Docker base image: `gcr.io/deeplearning-platform-release/tf2-gpu.2-6:latest`
tensorflow==2.13.0
tensorflow-datasets
tensorflow-addons
absl-py
gin-config
parameterized
mediapy
scikit-image
apache-beam
google-cloud-bigquery-storage
natsort
gdown
tqdm
